<body class="inside">
  <section class="hero is-bold is-warning">
    <div class="hero-body titleDash">
      <h1 class="title "> Mis proyectos </h1>
  
  </div>
  </section>

  <section class="height separado">
       {{#each proyectos}}
      <div>
        <div class="box columns is-vcentered">
          <div class="column">
            <label class="label">{{this.nombre}}</label>
          </div>
          <div class="column">
            <div class="tags are-medium has-background-grey is-centered box" id="tags">
              
              <div class="modal">
                <div class="modal-background"><</div>
                  <div class="modal-content is-clipped">
                    <div class="box">
                      {{#each etapas}}
                      <a class="button is-warning is-outlined">Asingar responsable</a>
                      <span class=" button is-small tag {{tagColor color}} showModal">{{this}}</span>
                      {{/each}}
                    </div>
                  </div>
                  <button class="modal-close is-large"></button>
                </div>
                {{#each etapas}}
                <span class=" button is-small tag {{tagColor color}} showModal">{{this}}</span>
                {{/each}}
              </div>
              
            </div>
          </div>
        </div>
       {{/each}}
    </div>
  </section>

  <div class="separados">
    <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

    <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>

        <div class="box">
      <label class="label">Problemas con el proyecto 10</label>
      <p><small>El proyecto 10 termina mañana. Revisa el avance de tu equipo para no incurrir en atrasos y posibles penalizaciones.</small></p>
    </div>
  </div>

</body>