<body class="inside">
    <section class="hero is-bold is-warning">
    <div class="hero-body titleDash">
      <h1 class="title "> Eje-Central </h1>
  
  </div>
  </section>

  <section class="height separado">
       {{#each proyecto}}
      <div>
        <div class="box columns has-background-white-ter is-vcentered">
          <div class="column">
            <div class="box">
            <span class="subtitle">Proyecto {{this.nombre}}</span> <span style="display:none">{{this._id}} </span>
            {{#each etapas}}
            <a href="/home-tareas/{{../this._id}}" class="label">{{this.nom.[0]}}</a>
            {{/each}}
            </div>
          </div>
          <div class="column">
            <div class="tags are-medium has-background-warning is-centered box" id="tags">
              
              <div class="">
                {{#each tareas}}
                <span class="is-small tag {{tagColor color}} showModal">{{this.nom}}</span>
                {{/each}}
              </div>
              
            </div>
          </div>
        </div>
       {{/each}}
    </div>
  </section>
</body>