<body class="has-background-white-ter" id="inside">
  <br>
  {{!-- <div class="columns is-multiline is-mobile has-text-centered">
    <div class="column is-half">
    </div>
    <div class="column is-half">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-dark">
            <span>Mensual</span>
          </a>
        </p>
        <p class="control">
          <a class="button">
            <span>Anual</span>
          </a>
        </p>
      </div>
    </div>
  </div> --}}

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent is-1">
    </div>
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box has-background-dark">
        <div class="box has-background-warning">
        <p class="title">Ingresos totales</p>
        <p class="title"><strong class="has-text-link"> ${{moneda sumaIngresos}} </strong></p>
        </div>
        <div class="box has-background-warning">
        <p class="title">Sueldos pagados</p>
        <p class="title"><strong class="has-text-danger"> ${{moneda sumaSalarios}} </strong></p>
        </div>
        <div class="box has-background-warning">
        <p class="title">Ingreso promedio por proyecto</p>
        <p class="title"><strong class="has-text-info"> ${{moneda promedio}} </strong></p>
        </div>
      </div>
      <div class="tile is-child box has-background-dark">
        <div class="box has-background-warning">
        <p class="title">Productividad por empleado</p>
        <a class="button is-dark is-outlined is-flex" href="/trabajadores"><strong> Ver detalle </strong></a>
        </div>
      </div>
    </div>
    <div class="tile is-parent is-5">
      <div class="tile is-vertical is-child box has-background-dark">
        <div class="box has-background-warning">
        <p class="title is-mobile">Ingresos por proyecto</p>
        <canvas id="myChart" class="is-1" width="5" height="5" style="width:5px; height: 5px"></canvas>
      </div>
      </div>
    </div>
  </div>
  <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent is-1">
    </div>
  <div class="tile is-parent is-4">
    <div class="tile is-child box has-background-dark">
      <div class="box has-background-warning">
      <p class="title">Datos generales</p>
        <div class="box has-text-centered has-background-info">
          <div class="columns">
            <div class="column is-7">
              <p class="subtitle"> Proyectos en tiempo </p>
            </div>
            <div class="column">
              {{enTiempo}}
            </div>
          </div>
        </div>
        <div class="box has-text-centered has-background-danger">
          <div class="columns">
            <div class="column is-7">
              <p class="subtitle"> Proyectos atrasados </p>
            </div>
            <div class="column">
             {{atrasados}}
            </div>
          </div>
        </div>
        <div class="box has-text-centered has-background-success">
          <div class="columns">
            <div class="column is-8">
             <p class="subtitle"> Proyectos adelantados </p>
            </div>
            <div class="column is-3">
             {{adelantados}}
            </div>
          </div>
        </div>
        </div>
        <div class="box has-background-warning">
        <canvas id="myChart2" class="is-1" width="5" height="5" style="width:5px; height: 5px"></canvas>
      </div>
    </div>
  </div>
  <div class="tile is-parent is-5 is-centered">
    <div class="tile is-child box has-background-dark">
      <p class="title has-text-white">Estadísticas por etapas</p>
        {{#each uniqueRes}}
          <div class="box has-background-warning">
            <div class="columns">
              <div class="column">
                <span class="subtitle">{{this.nom}}</span>
              </div>
              <div class="has-text-centered">
                <span class="subtitle">${{moneda this.gen}}</span>
              </div>
            </div>
          </div>
      {{/each}}
    </div>
  </div>
 </div>


  <script>
    window.onload = function () {
  var ctx = document.getElementById("myChart");
  var names = []
  var ctx2 = document.getElementById("myChart2");

  {{#each proyectos}}
    names.push("{{this}}")
  {{/each}}

  function random_rgba() {
      var o = Math.round, r = Math.random, s = 255;
      return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
  }

  var color = [];
  var border = [];

  for (c = 1; c < {{proyectos.length}} + 1; c++) {
    let rgb = random_rgba();
    color.push(rgb);
    border.push('rgba(0,0,0)')
  }

  var color2 = random_rgba();

  var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: ['En tiempo','Atrasados','Adelantados'],
        datasets: [{
            label: '',
            data: [{{enTiempo}}, {{atrasados}}, {{adelantados}}],
            backgroundColor: [ 'rgb(0, 167, 228)','rgb(255, 0, 0)','rgb(0, 182, 109)'],
            borderColor: border,
        }]
    },
    options: Chart.defaults.bar
});

  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: names,
          datasets: [{
              label: 'Ingresos',
              data: [{{datos}}],
              backgroundColor: color,
              borderColor: border,
          }]
      },
      options: Chart.defaults.doughnut
  });
    }
  </script>

</body>