<body class="inside">
   <br>
  <div class="columns is-multiline is-mobile has-text-centered">
    <div class="column is-half">

    </div>
    <div class="column is-half">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-dark">
            <span>Mensual</span>
          </a>
        </p>
        <p class="control">
          <a class="button">
            <span>Anual</span>
          </a>
        </p>
      </div>
    </div>
    
    <div class="column is-one-quarter">
      <h3><strong> Nombre </strong></h3>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Proyectos </strong></h3>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Etapas </strong></h3>
    </div>
    <div class="column is-one-quarter">
      <h3><strong> Ingresos por día </strong></h3>
    </div>
    {{#each uniqueRes}}
        <div class="column is-one-quarter">
          <a href="/trabajadores/{{this.id}}" class="label">{{this.nom}}</a>
        </div>
    <div class="column is-one-quarter">
      {{#each this.proyecto}}
      <h3>{{this}}</h3>
      {{/each}}
    </div>
    <div class="column is-one-quarter">
      <h3>{{this.etapas}}</h3>
    </div>
    <div class="column is-one-quarter">
      <h3>${{moneda this.diarios}}</h3>
    </div>
    {{/each}}
</body>