<body class="inside">
   <br>
{{!--   
    <div class="column is-half">

    </div>
    <div class="column is-half">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-dark">
            <span>Mensual</span>
          </a>
        </p>
        <p class="control">
          <a class="button">
            <span>Anual</span>
          </a>
        </p>
      </div>
    </div> --}}
<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box is-hidden-mobile">
          <div class="columns">
            <div class="column">
              <span class="subtitle"><strong> Nombre </strong></span>
            </div>
            <div class="column">
              <span class="subtitle"><strong> Proyectos </strong></span>
            </div>
            <div class="column">
              <span class="subtitle"><strong> Etapas </strong></span>
            </div>
            <div class="column">
              <span class="subtitle"><strong> Ingresos por día </strong></span>
            </div>
          </div>
        </article>
        {{#each uniqueRes}}
        <article class="tile is-child box">
          <div class="columns">
            <div class="column">
              <span class="subtitle is-hidden-tablet"><strong> Nombre </strong></span>
              <a href="/trabajadores/{{this.id}}" class="label has-text-link">{{this.nom}}</a>
            </div>
            <div class="column">
              <span class="subtitle is-hidden-tablet"><strong> Proyectos </strong></span>
            {{#each this.proyecto}}
              <span>{{this}}</span>
            {{/each}}
            </div>
            <div class="column">
              <span class="subtitle is-hidden-tablet"><strong> Etapas </strong></span>
              <span>{{this.etapas}}</span>
            </div>
            <div class="column">
              <span class="subtitle is-hidden-tablet"><strong> Ingresos por día </strong></span>
              <span>$ {{moneda this.diarios}}</span>
            </div>
          </div>
        </article>
        {{/each}}
      </div>
    </div>
  </div>
</div>
    
</body>