<body id="inside">
  {{#if user}}

  {{#if users}}
  <table >
    <thead>
      <tr>
        <th>Correo</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Sueldo</th>
        <th>Fecha alta</th>
        <th>PM</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
          {{#each users}}
          <tr>
            <td>{{this.username}}</td>
            <td class="{{this._id}}">{{this.name}}</td>
            <td> {{this.rol}} </td>
            <td>{{this.salary}}</td>
            <td>{{this.created_at}}</td>
            <td><input type="checkbox" name="PM" value="PM" {{#if this.pm }} checked{{/if}} disabled=true></td>
            <td>
              <input type="button" id="{{this._id}}" class="eliminar-usuario button is-danger" value="Eliminar">
              <input type="button" id="{{this._id}}" class="editar-usuario button is-danger" value="Editar">
              <ion-icon name="create"></ion-icon>
            </td>
          </tr>
          {{/each}}
    </tbody>
  </table> 
  <input type="text" style="display: none" value="" id="userToDelete"> 
  <input type="button" class="button is-success" value="Agregar usuario" id="btnAgregarUsuario">
  {{/if}}
  <br>
  <a href="/">Página principal</a>
  {{/if}} 
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" id="modal-guardar-usuario">Guardar</button>
        <button class="button is-danger" id="modal-eliminar">Eliminar</button>
        <button class="button cancel" >Cancelar</button>
      </footer>
    </div>
  </div>
  <form action="/user/add" method="post" id="nuevoUsuario" style="display:none"> 
    <div class="field">
      <label class="label">Correo</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Correo" name="username" id="username">
        <span class="icon is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>  
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Nombre" name="name" id="name">
        <span class="icon is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>  
    <div class="field">
      <label class="label">Sueldo mensual</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Sueldo mensual" name="salary" id="salary" >
        <span class="icon is-left">
          <i class="fas fa-credit-card"></i>
        </span>
        <span class="icon is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Tipo de usuario</label>
      <div class="control">
        <div class="select" >
          <select name="rol" id="rol"> 
            {{#each roles}}
            <option value={{this._id}}>{{this.description}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <div class="control-checkbox">
        <label class="checkbox">
          <input type="checkbox" name="pm" id="pm">
          Project manager
        </label>
    </div>
  </form> 
</body>