<body id="inside">

  <h3>Módulo usuarios {{{user.name}}}</h3>
  {{#if user}}

  {{#if users}}
  <table >
    <tr >
      <td>Correo</td>
      <td>Nombre</td>
      <td>Rol</td>
      <td>Sueldo</td>
      <td>Fecha alta</td>
      <td>PM</td>
      <td></td>
    </tr>
    {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td class="{{this._id}}">{{this.name}}</td>
      <td>{{this.rol_id}} </td> 
      <td>{{this.salary}}</td>
      <td>{{this.created_at}}</td>
      <td><input type="checkbox" name="PM" value="PM" {{#if this.pm }} checked{{/if}} disabled=true></td>
      <td>
        <input type="button" id="{{this._id}}" class="eliminar-usuario button is-danger" value="Eliminar">
        <input type="button" id="{{this._id}}" class="editar-usuario button is-danger" value="Editar">
        <ion-icon name="create"></ion-icon>
      </td>
    </tr>
    {{/each}}
  </table> 
  <input type="text" style="display: none" value="" id="userToDelete"> 
  <input type="button" class="button is-success" value="Agregar usuario" id="btnAgregarUsuario">
  {{/if}}
  <br>
  <a href="/">Página principal</a>
  {{/if}} 
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" id="modal-guardar">Guardar</button>
        <button class="button is-danger" id="modal-eliminar">Eliminar</button>
        <button class="button cancel" >Cancelar</button>
      </footer>
    </div>
  </div>
  <form action="/user/add" method="post" id="nuevoUsuario" style="display:none">
    <label for="mail">Correo:</label>
    <input type="text" name="username" id="username" value="" placeholder="Correo del usuario">
    <br>
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" value="" placeholder="Nombre del usuario">
    <br>
    <label for="rol">Rol:</label>
    <select name="rol-list" id="rol-list">
      {{#each roles}}
      <option value={{this._id}}>{{this.description}}</option>
      {{/each}}
    </select>
    <br>
    <label for="PM">Project manager</label>
    <input type="checkbox" name="pm" id="pm" checked=false>
    <br>
    <label for="rating">Sueldo</label>
    <input type="number" name="salary" id="salary" value="" placeholder="Sueldo mensual del usuario">
  </form>
</body>