<body class="inside" id="inside">
  {{#if user}}
  {{#if users}}
  <section class="hero is-bold is-warning">
    <div class="hero-body titleDash">
      <h1 class="title "> Usuarios activos </h1>
    </div>
  </section>

  <div class="tile is-parent is-12">
    <div class="tile is-child box"> 
      <table class="is-parent">
        <thead>
          <tr>
            <th>
              <div class="box  has-background-warning">
              <div class="columns has-text-centered">
                  <p class="subtitle">Correo </p>
              </div>
            </div>
            </th>
            <th><div class="box  has-background-warning">
              <div class="columns has-text-centered">
                <p class="subtitle">Nombre</p>
              </div></th>
            <th><div class="box  has-background-warning">
              <div class="columns has-text-centered">
                <p class="subtitle">Rol </p>
              </div></th>
            <th><div class="box  has-background-warning">
              <div class="columns has-text-centered">
                <p class="subtitle">Sueldo </p>
              </div></th>
            {{!-- <th>Fecha alta</th> --}}
            <th style="text-align: center"><div class="box  has-background-warning">
              <div class="columns has-text-centered">
                <p class="subtitle">Project Manager </p>
              </div></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{this.username}}</td>
            <td class="{{this._id}}">{{this.name}}</td>
            <td> {{this.rol.[0].description}}</td>
            <td>${{this.salary}}</td>
            {{!-- <td>{{ this.created_at}}</td> --}}
            <td style="text-align: center"><input type="checkbox" name="PM" value="PM" {{#if this.pm }} checked{{/if}}
                disabled=true></td>
            <td style="text-align: center">
              {{!-- <input type="button" id="{{this._id}}" class="eliminar-usuario button is-danger is-outlined" value="Eliminar"> --}}
              {{!-- <input type="button"  class="editar-usuario button is-link is-outlined" value="Editar"> --}}
              <a id="{{this._id}}" class="editar-usuario button is-link is-outlined">
                <span class="icon is-small"> 
                <i class="fas fa-user-edit"></i>
                </span>
              </a>
              <a id="{{this._id}}" class="eliminar-usuario button is-danger is-outlined">
                <span class="icon is-small">
                  <i class="far fa-trash-alt"></i>
                </span>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <input type="text" style="display: none" value="" id="userToDelete">
      <div class="columns is-mobile is-centered">
        <div class="column is-half is-centered" style="width: 250px">
          {{!-- <i class="fas fa-user-plus"></i>
          <input type="button" class="button is-success is-outlined is-fullwidth" value="Agregar usuario" id="btnAgregarUsuario">--}}
          <a id="btnAgregarUsuario" class="button is-dark is-outlined is-fullwidth"> 
            <span class="icon is-small">
              <i class="fas fa-user-plus"></i>
            </span>
            <span>Agregar usuario</span>
          </a>
        </div>
      </div>
      
    </div>
  </div>
  {{/if}}
  {{/if}}


  
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" id="modal-guardar-usuario">Guardar</button>
        <button class="button is-danger" id="modal-eliminar">Eliminar</button>
        <button class="button is-success" id="modal-actualizar">Actualizar</button>
        <button class="button cancel" >Cancelar</button>
      </footer>
    </div>
  </div>
  <form action="/user/add" method="post" id="nuevoUsuario" style="display:none"> 
    <div class="field">
      <label class="label">Correo</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Correo" name="username" id="username">
        <span class="icon is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>  
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Nombre" name="name" id="name">
        <span class="icon is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>  
    <div class="field">
      <label class="label">Sueldo mensual</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Sueldo mensual" name="salary" id="salary" >
        <span class="icon is-left">
          <i class="fas fa-credit-card"></i>
        </span>
        <span class="icon is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Tipo de usuario</label>
      <div class="control">
        <div class="select" >
          <select name="rol" id="rol"> 
            {{#each roles}}
            <option value={{this._id}}>{{this.description}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <div class="control-checkbox">
        <label class="checkbox">
          <input type="checkbox" name="pm" id="pm">
          Project manager
        </label>
    </div>
  </form> 
</body>